# IDE configure file
.idea/
.vscode/

# NPM package installations
node_modules/

# NPM debug log
npm-debug.log

# Ignore Typescript cache
.tscache

# Ignore grunt-ts crumb
.baseDir.ts

# Ignore build directory
/app/
/tools/

# Ignore test directory
/test/

# Ignore configuration files
/config/

# Ignore public
/public/js
/public/docs/*.html

# Ignore test coverage results
/.nyc_output
