# IDE configure file
.idea/
.vscode/

# NPM package installations
node_modules/

# NPM debug log
npm-debug.log

# Ignore Typescript cache
.tscache

# Ignore grunt-ts crumb
.baseDir.ts

# Ignore build directory
/app/

# Ignore test directory
/test/app/
/test/apptest/

# Ignore configuration files
/config/

# Ignore test coverage results
/.nyc_output
