
/* extra padding to accommodate the fixed navigation bar */
body {
  padding-top: 60px;
}

swdb-top-div {
  padding: 10px;
}
swdb-bottom-div {
  padding: 10px;
}

.swdbTitle {
  height:40px;
  width:75px;
  /* border:1px solid #ccc; */
  padding:2px;
  /* margin-left:5px; */
  /* text-align:center; */
  font:24px/26px Liberation Sans, Georgia, Garamond, Serif;
  /* overflow:auto; */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.swdbTableHeader {
  padding:5px;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
}
.swdbTableHeaderSearch {
  padding:1px;
  margin:0px;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
  min-width: 3em;
  width: 80%;
}
.swdbTable {
  padding:1px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.swdbHistTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

.swdbHistTd, .swdbHistTh {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

.swdbHistTdSection, .swdbHistThsection {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  color: black;
  background-color: lightgray;
}

.swdbLinkLike {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

/* table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0px;
  right: 10px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
} */

.swdbSection {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.swdbFormRow {
  margin:5px;
}

.selectedSlotBox {
  height:120px;
  width:420px;
  border:1px solid #ccc;
  /*padding:20px;*/
  margin-left:25px;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}
.smCancelBtn {
  height:22px;
  width: 22px;
  font-size: 8;
}
