<section>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/list">SWDB</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a id="swTab" href="#/list">Software</a>
          </li>
          <li>
            <a id="instTab" href="#/inst/list">Installations</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="fa fa-user fa-3x"/>
          </li>
          <li>
            <a id="usrBtn" ng-click="usrBtnClk()" href='#'>
              {{session.user.uid}} {{usrBtnTxt}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <form class-"form-horizontal" ng-submit="processForm()">

    <!-- NAME -->
    <div class="row swdbFormRow">
      <div id="swName-group" class="form-group">
        <label class="col-sm-2 control-label">Software Name</label>
        <div class="col-sm-10">
          <input id="swName" type="text" name="swName" class="form-control" ng-model="formData.swName" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RELEASED VERSION -->
    <div class="row swdbFormRow">
      <div id="version-group" class="form-group">
        <label class="col-sm-2 control-label">Version</label>
        <div class="col-sm-10">
          <input id="version" type="text" name="version" class="form-control" ng-model="formData.version" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- BRANCH -->
    <div class="row swdbFormRow">
      <div id="branch-group" class="form-group">
        <label class="col-sm-2 control-label">Branch</label>
        <div class="col-sm-10">
          <input id="branch" type="text" name="branch" class="form-control" ng-model="formData.branch" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Description</label>
      <span class="col-sm-10">
            <textarea rows="4" id="desc" type="text" name="desc" class="form-control" ng-model="formData.desc" ng-readonly="true"> </textarea>
      </span>
    </div>

    <!-- OWNER -->
    <div class="row swdbFormRow">
      <div id="owner-group" class="form-group">
        <label class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner" type="text" name="owner" class="form-control" ng-model="formData.owner" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- ENGINEER -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Engineer</label>
      <span class="col-sm-10">
            <input id="engineer" type="text" name="engineer" class="form-control" ng-model="formData.engineer" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- PLATFORM -->
    <div class="row swdbFormRow">
      <div id="platforms-group" class="form-group">
        <label class="col-sm-2 control-label">Platforms</label>
        <div class="col-sm-10">
          <input id="platforms" type="text" name="platforms" class="form-control" ng-model="formData.platforms" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- LEVEL OF CARE -->
    <div class="row swdbFormRow">
      <div id="levelOfCare-group" class="form-group">
        <label class="col-sm-2 control-label">Level of Care</label>
        <div class="col-sm-10">
          <input id="levelOfCare" type="text" name="levelOfCare" class="form-control" ng-model="levelOfCareDisplay" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <input id="status" type="text" name="Status" class="form-control" ng-model="statusDisplay" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS DATE -->
    <div class="row swdbFormRow">
      <div id="statusDate-group" class="form-group">
        <label class="col-sm-2 control-label">Status Date</label>
        <div class="col-sm-10">
          <input id="statusDate" type="text" name="statusDate" class="form-control" ng-model="formData.statusDate" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- COMMENTS -->
    <div class="row swdbFormRow">
      <label class="col-sm-2">
        Comments</label>
      <span class="col-sm-10">
            <textarea rows="4" id="comment" type="text" name="comment" class="form-control" ng-model="formData.comment" ng-readonly="true"> </textarea>
      </span>
    </div>

    <div class="swdbSection">
      Version Control
    </div>
    <hr>

    <!-- VERSION CONTROL -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">System</label>
        <div class="col-sm-10">
          <input id="versionControl" type="text" name="versionControl" class="form-control" ng-model="versionControlDisplay" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- VERSION CONTROL LOC-->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
          <input id="versionControlLoc" type="text" name="versionControlLoc" class="form-control" ng-model="formData.versionControlLoc" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <label class="swdbSection">
      Documentation
    </label>
    <hr>


    <!-- DESCRIPTION DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Description</label>
      <span class="col-sm-10">
            <input id="descDocLoc" type="text" name="descDocLoc" class="form-control" ng-model="formData.descDocLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- DESIGN DESCRIPTION DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Design</label>
      <span class="col-sm-10">
            <input id="designDescDocLoc" type="text" name="designDescDocLoc" class="form-control" ng-model="formData.designDescDocLoc" ng-readonly="true"> </input>
      </span>
    </div>


    <!-- VV PROCEDURE DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        V&V Procedure</label>
      <span class="col-sm-10">
            <input id="vvProcLoc" type="text" name="vvProcLoc" class="form-control" ng-model="formData.vvProcLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- VV RESULTS DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        V&V Results</label>
      <span class="col-sm-10">
            <input id="vvResultsLoc" type="text" name="vvResultsLoc" class="form-control" ng-model="formData.vvResultsLoc" ng-readonly="true"> </input>
      </span>
    </div>
    <hr>

    <a id="cancelBtn" class="btn btn-success" href="#/list"><span class="glyphicon glyphicon-backward"></span> Back to    search </a>
    <a id="updateBtn" class="btn btn-info" href="#/update/{{formData._id}}"><span class="glyphicon glyphicon-edit"></span>      Update this document </a>
    <a id="bumpVerBtn" class="btn btn-default" ng-click="bumpVerBtnClk()"><span class="glyphicon glyphicon-plus-sign"></span>      New revision </a>

    <hr/>
    <div class="row">
      <div class="col-md-12">
        <h2 class="swdbSection">
           History
        </h2>
        <div class="panel-group">
          <div id="hist.{{$index}}" class="panel panel-default" ng-repeat="elem in rawHistory track by $index"
                ng-click="rawHistory[$index].isCollapsed = !rawHistory[$index].isCollapsed">
            <div class="panel-heading">
              <a role="button" href="#" onclick="return false;">{{elem.at | date:"MMM d, yyyy 'at' H:mm:ss a"}}</a>
              <span class="pull-right">{{elem.by}}</span>
            </div>
            <div id="histPath.{{$index}}" class="panel-collapse" uib-collapse="rawHistory[$index].isCollapsed" ng-init="rawHistory[$index].isCollapsed=true">
              <ol class="list-group">
    
                <li class="list-group-item" ng-repeat="pathElem in elem.paths track by $index" ng-init="$parentIndex = $index">
                  <strong id="histPathName.{{$parentIndex}}.{{$index}}">{{pathElem.name}}</strong>
                  <div id="histPathValue.{{$parentIndex}}.{{$index}}" class="text-danger bg-danger pull-right">{{pathElem.value}}</div>
                </li>
    
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
