<section>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/list">SCDB</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a id="swTab" href="#/list">Software</a>
          </li>
          <li class="active">
            <a id="instTab" href="#/inst/list">Installations</a>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Help <span class="caret"/></a>
            <ul class="dropdown-menu">
              <li>
                <a href="docs/api2guide.html" target="_blank">API v2</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="fa fa-user fa-3x"/>
          </li>
          <li>
            <a id="usrBtn" ng-click="usrBtnClk($event)" href='#'>
              {{session.user.uid}} {{usrBtnTxt}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <form class-"form-horizontal" ng-submit="processForm()">

    <!-- HOST -->
    <div class="row swdbFormRow form-group">
      <div id="host-group" class="form-group">
        <label class="col-sm-2 control-label">Host</label>
        <div class="col-sm-10">
          <input id="host" type="text" name="host" class="form-control" ng-model="formData.host" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- NAME -->
    <div class="row swdbFormRow form-group">
      <div id="name-group" class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input id="name" type="text" name="name" class="form-control" ng-model="formData.name" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- SOFTWARE -->
    <div class="row swdbFormRow form-group">
      <div id="software-group" class="form-group">
        <label class="col-sm-2 control-label">Software</label>
        <div class="col-sm-10">
          <input id="software" type="text" name="software" class="form-control" ng-model="formData.software" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- AREA -->
    <div class="row swdbFormRow form-group">
      <div id="area-group" class="form-group">
        <label class="col-sm-2 control-label">Area</label>
        <div class="col-sm-10">
          <input id="area" type="text" name="area" class="form-control" ng-model="formData.area" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- SLOTS -->
    <!-- <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Slots</label>
      <span class="col-sm-10"></span>
    </div>
    <div id="slots-group" class="form-group">
      <div ng-repeat="(key, value) in formData.slots track by $index">
        <div class="row swdbFormRow form-group">
          <label class="col-sm-2">
            &nbsp&nbsp
            slot {{key}}</label>
          <div class="col-sm-10">
            <input id="slots.{{key}}" type="text" name="slots" class="form-control" ng-model="slots[$index]" ng-readonly="true"> </input>
          </div>
        </div>
      </div>
    </div> -->


    <!-- STATUS -->
    <div class="row swdbFormRow form-group">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <input id="status" type="text" name="Status" class="form-control" ng-model="statusDisplay" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS DATE -->
    <div class="row swdbFormRow form-group">
      <div id="statusDate-group" class="form-group">
        <label class="col-sm-2 control-label">Status Date</label>
        <div class="col-sm-10">
          <input id="statusDate" type="text" name="statusDate" class="form-control" ng-model="statusDateDisplay" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- V&V RESULTS DOC LOC -->
    <div class="row swdbFormRow form-group">
      <div id="vvResultsLoc-group" class="form-group">
        <label class="col-sm-2 control-label">V&V Results</label>
        <div class="col-sm-10">
          <input id="vvResultsLoc" type="text" name="vvResultsLoc" class="form-control" ng-model="formData.vvResultsLoc" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- VV APPROVAL DATE -->
    <div class="row swdbFormRow form-group">
      <div id="vvApprovalDate-group" class="form-group">
        <label class="col-sm-2 control-label">V&V Approval Date</label>
        <div class="col-sm-10">
          <input id="vvApprovalDate" type="text" name="vvApprovalDate" class="form-control" ng-model="vvApprovalDateDisplay" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- DRRs -->
    <div class="row swdbFormRow form-group">
      <div id="drrs-group" class="form-group">
        <label class="col-sm-2 control-label">DRR</label>
        <div class="col-sm-10">
          <input id="drrs" type="text" name="drrs" class="form-control" ng-model="formData.drr" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>


    <a id="cancelBtn" class="btn btn-success" href="#/inst/list"><span class="glyphicon glyphicon-backward"></span> Back to    search </a>
    <a id="updateBtn" class="btn btn-info" ng-click="updateBtnClk()"><span class="glyphicon glyphicon-edit"></span>      Update this document </a>

    <hr/>
    <div class="row">
      <div class="col-md-12">
        <h2 class="swdbSection">
           History
        </h2>
        <div class="panel-group">
          <div id="hist.{{$index}}" class="panel panel-default" ng-repeat="elem in rawHistory track by $index"
                ng-click="rawHistory[$index].isCollapsed = !rawHistory[$index].isCollapsed">
            <div class="panel-heading">
              <a role="button" href="#" onclick="return false;">{{elem.at | date:"MMM d, yyyy 'at' H:mm:ss a"}}</a>
              <span class="pull-right">{{elem.by}}</span>
            </div> 
            <div id="histPath.{{$index}}" class="panel-collapse" uib-collapse="rawHistory[$index].isCollapsed" ng-init="rawHistory[$index].isCollapsed=true">
              <ol class="list-group">
      
                <li class="list-group-item" ng-repeat="pathElem in elem.paths track by $index" ng-init="$parentIndex = $index">
                  <strong id="histPathName.{{$parentIndex}}.{{$index}}">{{pathElem.name}}</strong>
                  <div id="histPathValue.{{$parentIndex}}.{{$index}}" class="text-danger bg-danger pull-right">{{pathElem.value}}</div>
                </li>
      
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
