<section>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/list">SWDB</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a id="swTab" href="#!/list">Software</a>
          </li>
          <li class="active">
            <a id="instTab" href="#!/inst/list">Installations</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="fa fa-user fa-3x"/>
          </li>
          <li>
            <a id="usrBtn" ng-click="usrBtnClk($event)" href='#'>
              {{session.user.uid}} {{usrBtnTxt}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <a id="addBtn" href="#!/inst/new/" class="btn btn-info">
      <span class="glyphicon glyphicon-plus"></span>
      Add installation
    </a>
  <div ng-controller="InstListController as showCase">
    <table id="instList" datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-bordered table-hover dataTable no-footer"></table>
  </div>
</div>
</section>
