<section>
  <div class="header swdb-top-div container-fluid">
    <div class="row">
      <ul class="nav nav-tabs">
        <li>
          <div class="swdbTitle">SWDB</div>
        </li>
        <li class="active">
          <a id="swTab" class="nav-link active" href="#/list">Software</a>
        </li>
        <li class="nav-item">
          <a id="instTab" class="nav-link" href="#/inst/list">Installations</a>
        </li>
        <a id="usrBtn" ng-click="usrBtnClk()" class="btn btn-primary" style="float:right">
                <span class="glyphicon glyphicon-user" style="font-size: 1.5em" ></span>
                {{session.user.uid}} {{usrBtnTxt}}
            </a>
      </ul>
    </div>
  </div>

<div class="container-fluid">
  <form class-"form-horizontal" ng-submit="processForm()">

    <!-- NAME -->
    <div class="row swdbFormRow">
      <div id="swName-group" class="form-group">
        <label class="col-sm-2 control-label">Software Name</label>
        <div class="col-sm-10">
          <input id="swName" type="text" name="swName" class="form-control" placeholder="SW Name" ng-model="formData.swName" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RELEASED VERSION -->
    <div class="row swdbFormRow">
      <div id="version-group" class="form-group">
        <label class="col-sm-2 control-label">Version</label>
        <div class="col-sm-10">
          <input id="version" type="text" name="version" class="form-control" placeholder="version" ng-model="formData.version" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- BRANCH -->
    <div class="row swdbFormRow">
      <div id="branch-group" class="form-group">
        <label class="col-sm-2 control-label">Branch</label>
        <div class="col-sm-10">
          <input id="branch" type="text" name="branch" class="form-control" placeholder="branch" ng-model="formData.branch" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Description</label>
      <span class="col-sm-10">
            <textarea rows="4" id="desc" type="text" name="desc" class="form-control" ng-model="formData.desc" ng-readonly="true"> </textarea>
      </span>
    </div>

    <!-- OWNER -->
    <div class="row swdbFormRow">
      <div id="owner-group" class="form-group">
        <label class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner" type="text" name="owner" class="form-control" placeholder="SW owner" ng-model="formData.owner" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- ENGINEER -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Engineer</label>
      <span class="col-sm-10">
            <input id="engineer" type="text" name="engineer" class="form-control" ng-model="formData.engineer" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- PLATFORM -->
    <div class="row swdbFormRow">
      <div id="platforms-group" class="form-group">
        <label class="col-sm-2 control-label">Platforms</label>
        <div class="col-sm-10">
          <input id="platforms" type="text" name="platforms" class="form-control" placeholder="platforms" ng-model="formData.platforms" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- LEVEL OF CARE -->
    <div class="row swdbFormRow">
      <div id="levelOfCare-group" class="form-group">
        <label class="col-sm-2 control-label">Level of Care</label>
        <div class="col-sm-10">
          <input id="levelOfCare" type="text" name="levelOfCare" class="form-control" placeholder="SW level of care" ng-model="formData.levelOfCare" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <input id="status" type="text" name="Status" class="form-control" placeholder="SW status" ng-model="formData.status" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS DATE -->
    <div class="row swdbFormRow">
      <div id="statusDate-group" class="form-group">
        <label class="col-sm-2 control-label">Status Date</label>
        <div class="col-sm-10">
          <input id="statusDate" type="text" name="statusDate" class="form-control" placeholder="SW status date" ng-model="formData.statusDate" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- COMMENTS -->
    <div class="row swdbFormRow">
      <label class="col-sm-2">
        Comments</label>
      <span class="col-sm-10">
            <textarea rows="4" id="comment" type="text" name="comment" class="form-control" ng-model="formData.comment" ng-readonly="true"> </textarea>
      </span>
    </div>

    <div class="swdbSection">
      Version Control
    </div>
    <hr>

    <!-- VERSION CONTROL -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">System</label>
        <div class="col-sm-10">
          <input id="versionControl" type="text" name="versionControl" class="form-control" ng-model="formData.versionControl" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- VERSION CONTROL LOC-->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
          <input id="versionControlLoc" type="text" name="versionControlLoc" class="form-control" ng-model="formData.versionControlLoc" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <label class="swdbSection">
      Documentation
    </label>
    <hr>


    <!-- DESCRIPTION DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Description</label>
      <span class="col-sm-10">
            <input id="descDocLoc" type="text" name="descDocLoc" class="form-control" ng-model="formData.descDocLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- DESIGN DESCRIPTION DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Design</label>
      <span class="col-sm-10">
            <input id="designDescDocLoc" type="text" name="designDescDocLoc" class="form-control" ng-model="formData.designDescDocLoc" ng-readonly="true"> </input>
      </span>
    </div>


    <!-- VV PROCEDURE DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        V&V Procedure</label>
      <span class="col-sm-10">
            <input id="vvProcLoc" type="text" name="vvProcLoc" class="form-control" ng-model="formData.vvProcLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- VV RESULTS DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        V&V Results</label>
      <span class="col-sm-10">
            <input id="vvResultsLoc" type="text" name="vvResultsLoc" class="form-control" ng-model="formData.vvResultsLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <label class="swdbSection">
      Certification
    </label>
    <hr>

    <!-- RECERT FREQ -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Recert Frequency</label>
        <div class="col-sm-10">
          <input id="recertFreq" type="text" name="recertFreq" class="form-control" ng-model="formData.recertFreq" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RECERT STATUS -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Recert Status</label>
        <div class="col-sm-10">
          <input id="recertStatus" type="text" name="recertStatus" class="form-control" ng-model="formData.recertStatus" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RECERT DATE -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Recert Date</label>
        <div class="col-sm-10">
          <input id="recertDate" type="text" name="recertDate" class="form-control" ng-model="formData.recertDate" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <a id="cancelBtn" class="btn btn-success" href="#/list"><span class="glyphicon glyphicon-backward"></span> Back to    search </a>
    <a id="updateBtn" class="btn btn-info" href="#/update/{{formData._id}}"><span class="glyphicon glyphicon-edit"></span>      Update this document </a>
    <a id="bumpVerBtn" class="btn btn-default" ng-click="bumpVerBtnClk()"><span class="glyphicon glyphicon-plus-sign"></span>      New revision </a>

    <!-- <button type="button" class="btn btn-default" ng-click="isHistCollapsed = !isHistCollapsed">Show history</button> -->
    <a id="histBtn" class="btn btn-default" ng-click="isHistCollapsed = !isHistCollapsed"><span class="glyphicon glyphicon-list-alt"></span> Show history</a>
    <hr>
    <div uib-collapse="isHistCollapsed">
      <div class="well well-lg">
        <label class="swdbSection">
           History
        </label>
          <!-- <div ng-bind-html="history" style="height: 500px; overflow: auto;"></div> -->
          <div ng-bind-html="history"></div>
      </div>
    </div>

  </form>
</div>
</section>
