<section>
  <div class="header swdb-top-div container-fluid">
    <div class="row">
      <ul class="nav nav-tabs">
        <li>
          <div class="swdbTitle">SWDB</div>
        </li>
        <li class="nav-item">
          <a id="swTab" class="nav-link" href="#/list">Software</a>
        </li>
        <li class="active">
          <a id="instTab" class="nav-link" href="#/inst/list">Installations</a>
        </li>
        <a id="usrBtn" ng-click="usrBtnClk()" class="btn btn-primary" style="float:right">
                <span class="glyphicon glyphicon-user" style="font-size: 1.5em" ></span>
                {{session.user.uid}} {{usrBtnTxt}}
            </a>
      </ul>
    </div>
  </div>

<div class="container-fluid" style="padding-left:50px; padding-right:50px">
  <form class-"form-horizontal" ng-submit="processForm()">

    <!-- HOST -->
    <div class="row swdbFormRow form-group">
      <div id="host-group" class="form-group">
        <label class="col-sm-2 control-label">Host</label>
        <div class="col-sm-10">
          <input id="host" type="text" name="host" class="form-control" placeholder="host" ng-model="formData.host" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- NAME -->
    <div class="row swdbFormRow form-group">
      <div id="name-group" class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input id="name" type="text" name="name" class="form-control" placeholder="name" ng-model="formData.name" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- SOFTWARE -->
    <div class="row swdbFormRow form-group">
      <div id="software-group" class="form-group">
        <label class="col-sm-2 control-label">Software</label>
        <div class="col-sm-10">
          <input id="software" type="text" name="software" class="form-control" placeholder="software" ng-model="formData.software" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- AREA -->
    <div class="row swdbFormRow form-group">
      <div id="area-group" class="form-group">
        <label class="col-sm-2 control-label">Area</label>
        <div class="col-sm-10">
          <input id="area" type="text" name="area" class="form-control" placeholder="area" ng-model="formData.area" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- SLOTS -->
    <!-- <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Slots</label>
      <span class="col-sm-10"></span>
    </div>
    <div id="slots-group" class="form-group">
      <div ng-repeat="(key, value) in formData.slots track by $index">
        <div class="row swdbFormRow form-group">
          <label class="col-sm-2">
            &nbsp&nbsp
            slot {{key}}</label>
          <div class="col-sm-10">
            <input id="slots.{{key}}" type="text" name="slots" class="form-control" ng-model="slots[$index]" ng-readonly="true"> </input>
          </div>
        </div>
      </div>
    </div> -->


    <!-- STATUS -->
    <div class="row swdbFormRow form-group">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <input id="status" type="text" name="Status" class="form-control" placeholder="SW status" ng-model="statusDisplay" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS DATE -->
    <div class="row swdbFormRow form-group">
      <div id="statusDate-group" class="form-group">
        <label class="col-sm-2 control-label">Status Date</label>
        <div class="col-sm-10">
          <input id="statusDate" type="text" name="statusDate" class="form-control" placeholder="SW status date" ng-model="formData.statusDate" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- V&V RESULTS DOC LOC -->
    <div class="row swdbFormRow form-group">
      <div id="vvResultsLoc-group" class="form-group">
        <label class="col-sm-2 control-label">V&V Results</label>
        <div class="col-sm-10">
          <input id="vvResultsLoc" type="text" name="vvResultsLoc" class="form-control" placeholder="" ng-model="formData.vvResultsLoc" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- DRRs -->
    <div class="row swdbFormRow form-group">
      <div id="drrs-group" class="form-group">
        <label class="col-sm-2 control-label">DRR</label>
        <div class="col-sm-10">
          <input id="drrs" type="text" name="drrs" class="form-control" placeholder="DRR" ng-model="formData.drrs" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>


    <a id="cancelBtn" class="btn btn-success" href="#/inst/list"><span class="glyphicon glyphicon-backward"></span> Back to    search </a>
    <a id="updateBtn" class="btn btn-info" ng-click="updateBtnClk()"><span class="glyphicon glyphicon-edit"></span>      Update this document </a>

    <hr>
      <div class="well well-lg">
        <label class="swdbSection">
           History
        </label>
        <div ng-repeat="elem in rawHistory track by $index">
          <div id="hist.{{$index}}" class="panel panel-default" ng-click="rawHistory[$index].isCollapsed = !rawHistory[$index].isCollapsed">
            <label class="control-label swdbLinkLike">{{elem.at}} by {{elem.by}}</label>
            <div id="histPath.{{$index}}" uib-collapse="rawHistory[$index].isCollapsed" ng-init="rawHistory[$index].isCollapsed=true">
              <ol class="list-group">
    
                <li class="list-group-item" ng-repeat="pathElem in elem.paths track by $index" ng-init="$parentIndex = $index">
                  <strong id="histPathName.{{$parentIndex}}.{{$index}}">{{pathElem.name}}</strong>
                  <div id="histPathValue.{{$parentIndex}}.{{$index}}" class="text-danger bg-danger pull-right">{{pathElem.value}}</div>
                </li>
    
              </ol>
            </div>
          </div>
        </div>
      </div>

  </form>
</div>
</section>
