<section>
  <div class="header swdb-top-div container-fluid">
    <div class="row">
      <ul class="nav nav-tabs">
        <li>
          <div class="swdbTitle">SWDB</div>
        </li>
        <li class="nav-item">
          <a id="swTab" class="nav-link active" href="#/list">Software</a>
        </li>
        <li class="active">
          <a id="instTab" class="nav-link" href="#/inst/list">Installations</a>
        </li>
        <a id="usrBtn" ng-click="usrBtnClk()" class="btn btn-primary" style="float:right">
                <span class="glyphicon glyphicon-user" style="font-size: 1.5em" ></span>
                {{session.username}} {{usrBtnTxt}}
            </a>
      </ul>
    </div>
  <a id="addBtn" href="#/inst/new/" class="btn btn-info" style="float:left">
    <span class="glyphicon glyphicon-plus"></span>
    Add installation
  </a>
  </div>

<div ng-controller="InstListController as showCase" style="padding-left:50px; padding-right:50px">
    <table id="instList" datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-bordered table-hover dataTable no-footer"></table>
</div>
</section>
