<section>
<div class="header swdb-top-div container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#/list">Software</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/inst/list">Installations</a>
        </li>
      </ul>
    </div>i
    <div class="col-sm-4">
      <a id="usrBtn"  ng-click="usrBtnClk()" class="btn btn-primary">
        <span class="glyphicon glyphicon-user"></span>
        {{session.username}} {{usrBtnTxt}}
      </a>
      <a id="abtBtn" href="#/about/" class="btn btn-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        About
      </a>
    </div>
  </div>
</div>

<h2>Details ({{formData._id}})</h2>
<div class="container-fluid">
  <form class-"form-horizontal" ng-submit="processForm()">

    <!-- NAME -->
    <div class="row swdbFormRow">
      <div id="swName-group" class="form-group">
        <label class="col-sm-2 control-label">Software Name</label>
        <div class="col-sm-10">
          <input id="swName" type="text" name="swName" class="form-control" placeholder="SW Name" ng-model="formData.swName" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RELEASED VERSION -->
    <div class="row swdbFormRow">
      <div id="version-group" class="form-group">
        <label class="col-sm-2 control-label">Version</label>
        <div class="col-sm-10">
          <input id="version" type="text" name="version" class="form-control" placeholder="version" ng-model="formData.version" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- BRANCH -->
    <div class="row swdbFormRow">
      <div id="branch-group" class="form-group">
        <label class="col-sm-2 control-label">Branch</label>
        <div class="col-sm-10">
          <input id="branch" type="text" name="branch" class="form-control" placeholder="branch" ng-model="formData.branch" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Description</label>
      <span class="col-sm-10">
            <textarea rows="4" id="desc" type="text" name="desc" class="form-control" ng-model="formData.desc" ng-readonly="true"> </textarea>
      </span>
    </div>

    <!-- DESCRIPTION DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Description Doc Loc</label>
      <span class="col-sm-10">
            <input id="desc" type="text" name="descDocLoc" class="form-control" ng-model="formData.descDocLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- DESIGN DESCRIPTION DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Design Description Doc Loc</label>
      <span class="col-sm-10">
            <input id="desc" type="text" name="designDescDocLoc" class="form-control" ng-model="formData.designDescDocLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- OWNER -->
    <div class="row swdbFormRow">
      <div id="owner-group" class="form-group">
        <label class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner" type="text" name="owner" class="form-control" placeholder="SW owner" ng-model="formData.owner" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- ENGINEER -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        Engineer</label>
      <span class="col-sm-10">
            <input id="engineer" type="text" name="engineer" class="form-control" ng-model="formData.engineer" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- LEVEL OF CARE -->
    <div class="row swdbFormRow">
      <div id="levelOfCare-group" class="form-group">
        <label class="col-sm-2 control-label">Level of Care</label>
        <div class="col-sm-10">
          <input id="levelOfCare" type="text" name="levelOfCare" class="form-control" placeholder="SW level of care" ng-model="formData.levelOfCare" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <input id="status" type="text" name="Status" class="form-control" placeholder="SW status" ng-model="formData.status" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- STATUS DATE -->
    <div class="row swdbFormRow">
      <div id="statusDate-group" class="form-group">
        <label class="col-sm-2 control-label">Status Date</label>
        <div class="col-sm-10">
          <input id="statusDate" type="text" name="statusDate" class="form-control" placeholder="SW status date" ng-model="formData.statusDate" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>


    <!-- PLATFORM -->
    <div class="row swdbFormRow">
      <div id="platforms-group" class="form-group">
        <label class="col-sm-2 control-label">Platforms</label>
        <div class="col-sm-10">
          <input id="platforms" type="text" name="platforms" class="form-control" placeholder="platforms" ng-model="formData.platforms" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- VV PROCEDURE DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        V&V Procedure Loc</label>
      <span class="col-sm-10">
            <input id="vvProcLoc" type="text" name="vvProcLoc" class="form-control" ng-model="formData.vvProcLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- VV RESULTS DOC LOC -->
    <div class="row swdbFormRow form-group">
      <label class="col-sm-2">
        V&V  Results Loc</label>
      <span class="col-sm-10">
            <input id="vvResultsLoc" type="text" name="vvResultsLoc" class="form-control" ng-model="formData.vvResultsLoc" ng-readonly="true"> </input>
      </span>
    </div>

    <!-- VERSION CONTROL -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Version Control</label>
        <div class="col-sm-10">
          <input id="versionControl" type="text" name="versionControl" class="form-control" ng-model="formData.versionControl" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- VERSION CONTROL LOC-->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Version Control Loc</label>
        <div class="col-sm-10">
          <input id="versionControlLoc" type="text" name="versionControlLoc" class="form-control" ng-model="formData.versionControlLoc" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RECERT FREQ -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Recert Frequency</label>
        <div class="col-sm-10">
          <input id="recertFreq" type="text" name="recertFreq" class="form-control" ng-model="formData.recertFreq" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RECERT STATUS -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Recert Status</label>
        <div class="col-sm-10">
          <input id="recertStatus" type="text" name="recertStatus" class="form-control" ng-model="formData.recertStatus" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>

    <!-- RECERT DATE -->
    <div class="row swdbFormRow">
      <div id="status-group" class="form-group">
        <label class="col-sm-2 control-label">Recert Date</label>
        <div class="col-sm-10">
          <input id="recertDate" type="text" name="recertDate" class="form-control" ng-model="formData.recertDate" ng-readonly="true">
          </input>
        </div>
      </div>
    </div>
    <!-- COMMENTS -->
    <div class="row swdbFormRow">
      <label class="col-sm-2">
        Comments</label>
      <span class="col-sm-10">
            <textarea rows="4" id="comment" type="text" name="comment" class="form-control" ng-model="formData.comment" ng-readonly="true"> </textarea>
      </span>
    </div>

    <a class="btn btn-success" href="#/list"><span class="glyphicon glyphicon-backward"></span> Back to    search </a>
    <a class="btn btn-info" href="#/update/{{formData._id}}"><span class="glyphicon glyphicon-edit"></span>      Update this document </a>

  </form>
</div>
</section>
