<section>
  <div class="header swdb-top-div container-fluid">
    <div class="row">
      <ul class="nav nav-tabs">
        <li>
          <div class="swdbTitle">SWDB</div>
        </li>
        <li class="nav-item">
          <a id="swTab" class="nav-link active" href="#/list">Software</a>
        </li>
        <li class="active">
          <a id="instTab" class="nav-link" href="#/inst/list">Installations</a>
        </li>
        <a id="usrBtn" ng-click="usrBtnClk()" class="btn btn-primary" style="float:right">
                <span class="glyphicon glyphicon-user" style="font-size: 1.5em" ></span>
                {{session.username}} {{usrBtnTxt}}
            </a>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <form name="inputForm" class- "form-horizontal" ng-submit="processForm()">

      <!-- HOST -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.hostInput.$invalid && !inputForm.hostInput.$pristine }">
        <div id="host-group" class="form-group">
          <label class="col-sm-2 control-label">Host*</label>
          <div class="col-sm-8">
            <input id="host" type="text" name="hostInput" class="form-control" placeholder="Host" ng-model="formData.host" ng-required="true"
              ng-minlength="2" ng-maxlength="30">
            </input>
          </div>
          <div class="col-sm-2" id="hostInputSts" ng-messages="inputForm.hostInput.$error" ng-if="inputForm.hostInput.$dirty">
            <div ng-message="required">Host name is required</div>
            <div ng-message="minlength">Host name must exceed 2 characters</div>
            <div ng-message="maxlength">Host name must not exceed 30 characters</div>
          </div>
        </div>
      </div>

      <!-- NAME -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.nameInput.$invalid && !inputForm.nameInput.$pristine }">
        <div id="name-group" class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-8">
            <input id="name" type="text" name="nameInput" class="form-control" placeholder="name" ng-model="formData.name" ng-required="false"
              ng-minlength="0" ng-maxlength="30">
            </input>
          </div>
          <div class="col-sm-2" id="nameInputSts" ng-messages="inputForm.nameInput.$error" ng-if="inputForm.nameInput.$dirty">
            <div ng-message="required">Name  is required</div>
            <div ng-message="minlength">Name must exceed 2 characters</div>
            <div ng-message="maxlength">Name must not exceed 30 characters</div>
          </div>
        </div>
      </div>

      <!-- SOFTWARE -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.softwareInput.$invalid && !inputForm.softwareInput.$pristine }">
        <div id="software-group" class="form-group">
          <label class="col-sm-2 control-label">Software*</label>
          <div class="col-sm-8">
            <input id="software" type="text" ng-model="swSelected" placeholder="type to search" uib-typeahead="sw._id as (sw.swName+' / '+sw.branch+' / '+sw.version) for sw in swList | swFilt:$viewValue | limitTo:8"
              typeahead-on-select='swSelect($item, $model, $label)' typeahead-loading="loadingLocations" typeahead-no-results="noResults"
              class="form-control">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
          </div>
          <div class="col-sm-2" id="softwareInputSts" ng-messages="inputForm.softwareInput.$error" ng-if="inputForm.softwareInput.$dirty">
            <div ng-message="minlength">Minimum 2 characters</div>
          </div>
        </div>
      </div>

      <!-- AREAS -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.areaInput.$invalid && !inputForm.areaInput.$pristine }">
        <div id="area-group" class="form-group">
          <label class="col-sm-2 control-label">Area*</label>
          <div class="col-sm-10">
            <select id="area" ng-model="formData.area" ng-options="o for o in areaLabels track by o"></select>
          </div>
          <div class="col-sm-2" id="areaInputSts" ng-messages="inputForm.areaInput.$error" ng-if="inputForm.areaInput.$dirty">
          </div>
        </div>
      </div>

      <!-- DRRs -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.drrsInput.$invalid && !inputForm.drrsInput.$pristine }">
        <div id="drrs-group" class="form-group">
          <label class="col-sm-2 control-label">DRR</label>
          <div class="col-sm-8">
            <input id="drrs" type="text" name="drrsInput" class="form-control" placeholder="DRR" ng-model="formData.drrs" ng-minlength="2"
              ng-maxlength="30">
            </input>
          </div>
          <div class="col-sm-2" id="drrsInputSts" ng-messages="inputForm.drrsInput.$error" ng-if="inputForm.drrsInput.$dirty">
            <div ng-message="required">DRR is required</div>
            <div ng-message="minlength">DRR must exceed 2 characters</div>
            <div ng-message="maxlength">DRR must not exceed 30 characters</div>
          </div>
        </div>
      </div>

      <!-- STATUS -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.statusInput.$invalid && !inputForm.statusInput.$pristine }">
        <div id="status-group" class="form-group">
          <label class="col-sm-2 control-label">Status*</label>
          <div class="col-sm-10">
            <select id="status" ng-model="formData.status" ng-options="o for o in statusLabels track by o"></select>
          </div>
          <div class="col-sm-2" id="statusInputSts" ng-messages="inputForm.statusInput.$error" ng-if="inputForm.statusInput.$dirty">
          </div>
        </div>
      </div>

      <!-- STATUS DATE -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.statusDateInput.$invalid && !inputForm.statusDateInput.$pristine }">
        <div id="statusDate-group" class="form-group">
          <label class="col-sm-2 control-label">Status Date*</label>
          <div class="col-sm-8">

            <p class="input-group">
              <input id="statusDate" name="statusDateInput" type="text" class="form-control" uib-datepicker-popup="{{datePicker.format}}"
                ng-model="formData.statusDate" is-open="datePicker.instances['statusDate']" datepicker-options="datePicker.options"
                ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-pattern="/^(\d{1,2}[-/]\d{1,2}[-/]\d{4})|((\d{4}[-/]\d{2}[-/]\d{2})(T\d{2}:\d{2}:\d{2}.\d{3}Z)?)$/"
              />
              <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'statusDate')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>

            <!-- </input> -->
          </div>
          <div class="col-sm-2" id="statusDateInputSts" ng-messages="inputForm.statusDateInput.$error" ng-if="inputForm.statusDateInput.$dirty">
            <div ng-message="required">Date is required</div>
            <div ng-message="pattern">Use date format YYYY/MM/DD</div>
          </div>
        </div>
      </div>

      <!-- V&V Results -->
      <div class="row swdbFormRow" ng-class="{ 'has-error' : inputForm.vvResultsLocInput.$invalid && !inputForm.vvResultsLocInput.$pristine }">
        <div id="vvResultsLoc-group" class="form-group">
          <label class="col-sm-2 control-label">V&V Results</label>
          <div class="col-sm-8">
            <input id="vvResultsLoc" type="text" name="vvResultsLocInput" class="form-control" placeholder="V&V Results" ng-model="formData.vvResultsLoc" >
            </input>
          </div>
          <div class="col-sm-2" id="vvResultsLocInputSts" ng-messages="inputForm.vvResultsLocInput.$error" ng-if="inputForm.vvResultsLocInput.$dirty">
          </div>
        </div>
      </div>


      <!-- SLOTS -->
      <!-- <div class="row swdbFormRow">
        <label class="col-sm-2"> slots search</label>
        <div class="col-sm-8">
          <input id="slots" type="text" ng-model="selected" uib-typeahead="slot.name as (slot.name+' (desc:'+slot.description+')') for slot in slots |
          filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select='slotSelect($item, $model, $label)'>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
      <div class="row swdbFormRow">
        <label class="col-sm-2">&nbspselected slots </label>
        <div class="col-sm-8 selectedSlotBox">
          <div ng-repeat="selectedSlot in slotsSelected">
            <span>{{selectedSlot}} </span>
            <button id="rmSelSlotBtn" ng-click="removeSelectedSlot(selectedSlot)" class="btn btn-xs btn-warning smCancelBtn">
            <span class="submit glyphicon glyphicon-remove-sign"></span>&nbsp
          </button>
          </div>
        </div>
        <div class="col-sm-2">
        </div>
      </div> -->

      <!-- SUBMIT BUTTON -->
      <div id='formStatus' ng-show="swdbParams.formShowStatus" class="alert alert-success form-group col-sm-12"><span class="glyphicon glyphicon-info-sign"></span> {{swdbParams.formStatus}}</div>
      <div id='formError' ng-show="swdbParams.formShowErr" class="alert alert-danger form-group col-sm-12"><span class="glyphicon glyphicon-exclamation-sign"></span> {{swdbParams.formErr}}</div>
      <button id="submitBtn" type="submit" class="btn btn-success">
      <span class="submit glyphicon glyphicon-ok-sign"></span> Submit!
    </button>
      <a href="#/inst/list" id="cancelBtn" type="submit" class="btn btn-danger"><span class="submit glyphicon glyphicon-backward"></span> Cancel </a>
      <br>
    </form>
  </div>
</section>