<section>
  <form ng-submit="processForm()">
    <!-- ID -->
    <!-- <div id="name-group" class="form-group">
      <label>ID</label>
      <input type="text" name="id" class="form-control" placeholder="3000" ng-model="formData.id">
      <span class="help-block"></span>
    </input>
  </div> -->

  <!-- NAME -->
  <div id="name-group" class="form-group">
    <label>Software Name</label>
    <input type="text" name="swName" class="form-control" placeholder="SW Name" ng-model="formData.swName">
    <span class="help-block"></span>
  </input>
</div>
<!-- OWNER -->
<div id="name-group" class="form-group">
  <label>Owner</label>
  <input type="text" name="owner" class="form-control" placeholder="SW owner" ng-model="formData.owner">
  <span class="help-block"></span>
</input>
</div>
<!-- LEVEL OF CARE -->
<div id="name-group" class="form-group">
  <label>Level of Care</label>
  <input type="text" name="levelOfCare" class="form-control" placeholder="SW level of care" ng-model="formData.levelOfCare">
  <span class="help-block"></span>
</input>
</div>
<!-- STATUS -->
<div id="name-group" class="form-group">
  <label>Status</label>
  <input type="text" name="Status" class="form-control" placeholder="SW status" ng-model="formData.status">
  <span class="help-block"></span>
</input>
</div>
<!-- STATUS DATE -->
<div id="name-group" class="form-group">
  <label>Status Date</label>
  <input type="text" name="statusDate" class="form-control" placeholder="SW status date" ng-model="formData.statusDate">
  <span class="help-block"></span>
</input>
</div>
<!-- RELEASED VERSION -->
<div id="name-group" class="form-group">
  <label>Released Version</label>
  <input type="text" name="releasedVersion" class="form-control" placeholder="Released version" ng-model="formData.releasedVersion">
  <span class="help-block"></span>
</input>
</div>
<!-- PLATFORM -->
<div id="name-group" class="form-group">
  <label>Platforms</label>
  <input type="text" name="platforms" class="form-control" placeholder="platforms" ng-model="formData.platforms">
  <span class="help-block"></span>
</input>
</div>
<!-- AUX SW -->
<div id="name-group" class="form-group">
  <label>Auxilliary SW</label>
  <input type="text" name="auxSw" class="form-control" placeholder="Aux SW" ng-model="formData.auxSw">
  <span class="help-block"></span>
</input>
</div>
<!-- SW DESCRIPTION DOC -->
<div id="name-group" class="form-group">
  <label>Description Doc</label>
  <input type="text" name="swDescDoc" class="form-control" placeholder="Description Doc" ng-model="formData.swDescDoc">
  <span class="help-block"></span>
</input>
</div>
<!-- VALIDATION DOC -->
<div id="name-group" class="form-group">
  <label>Validation Doc</label><br>
  <label>  Doc</label>
  <input type="text" name="validationDoc" class="form-control" placeholder="Validation Doc" ng-model="formData.validationDoc">
  <label>  Date</label>
  <input type="text" name="validationDoc" class="form-control" placeholder="Validation Doc" ng-model="formData.validationDoc">
  <span class="help-block"></span>
</input>
</div>
<!-- VERIFICATION DOC -->
<div id="name-group" class="form-group">
  <label>Verification Doc</label>
  <input type="text" name="verificationDoc" class="form-control" placeholder="Verification Doc" ng-model="formData.verificationDoc">
  <span class="help-block"></span>
</input>
</div>
<!-- REVISION CONTROL -->
<div id="name-group" class="form-group">
  <label>Revision Control</label>
  <input type="text" name="revisionControl" class="form-control" placeholder="Revision Control" ng-model="formData.revisionControl">
  <span class="help-block"></span>
</input>
</div>
<!-- RECERTIFICATION FREQUENCY -->
<div id="name-group" class="form-group">
  <label>Recertification Frequency</label>
  <input type="text" name="recertFreq" class="form-control" placeholder="Recertification frequency" ng-model="formData.recertFreq">
  <span class="help-block"></span>
</input>
</div>
<!-- RECERTIFICATION STATUS -->
<div id="name-group" class="form-group">
  <label>Recertification Status</label>
  <input type="text" name="recertStatus" class="form-control" placeholder="Recertification status" ng-model="formData.recertStatus">
  <span class="help-block"></span>
</input>
</div>
<!-- COMMENTS -->
<div id="name-group" class="form-group">
  <label>Comment</label>
  <input type="text" name="comment" class="form-control" placeholder="comment" ng-model="formData.comment">
  <span class="help-block"></span>
</input>
</div>


<!-- SUBMIT BUTTON -->
<button type="submit" class="btn btn-success btn-lg btn-block">
  <span class="glyphicon glyphicon-flash"></span> Submit!
</button>
</form>

</section>
